body {
    background-image:url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-gPo_0cSk9Lrtl5x4itVpWj7LclMU_9xnww&usqp=CAU);
}

.row {
    border-radius: 10px;
    background-color:burlywood;
}

.garis {
    border-right: 1px solid black;
    height:auto;
    position: relative;
}

li > a {
    color:black;
    font-size: 20pt;
}

.material-icons{
    font-size: 20px;
}

.nav-item{
    border: 1px solid black;
}