body {
  --base-color: rgb(46, 49, 49);
  --base-color-2: #5C7AEA;
  --base-color-4: #010815;
  background-color: #010815;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:black;
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .loader > img {
  width: 250px;
  }

  .loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
  }

  @keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
  }

.card-header {
    background-color: var(--base-color-2);
    border-radius: 20px;
}

.card-header h1 {
  color: black;
  font-family: 'Heebo', sans-serif;
  font-size: 40pt;
}

.sign_up {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom: 1%;
    width: 30%;
    border-radius: 20px;
    border: 10px solid var(--base-color-2);
}

@media screen and (max-width: 1366px) {
    .sign_up {
        margin-top: 11%;
        margin-left: 20%;
        margin-right: 20%;
        width: 60%;
    }
  }

.card-body {
  background-color: var(--base-color-2);
  color: white;
  padding: 0;
  margin: 0;
}

.form-group input {
  background-color: var(--base-color);
  border: none;
  border-radius: 50px;
  height: 50px;
  color: var(--base-color-2);
  
}

.form-group label {
  color: black;
  font-size: 15pt;
}

.form-group-button {
  background-color: black;
  color: var(--base-color-2);
  width: 100px;
}

::placeholder {
  color:;
  background-color: var(--base-color);
}

.form-group input[type='date'] {
  width: 130%;
  margin-right: 0;
} 

.form-group .date {
  float: left;
}

.form-group .sex {
  margin-left: 55%;
}

.form-group input[list='browser'] {
  width: 100%;
}


.form-group input:hover {
  border: 3px solid var(--base-color-2);
  border-color: var(--base-color-2);  
  cursor: text;
}

.form-group input:focus {
  background-color: var(--base-color);
  color: white;
  cursor: text;
}

.form-group-button {
  background-color: var(--base-color-2);
  color: #5C7AEA;
  float: left;
}

.form-group-button input {
  background-color: black;
  color: var(--base-color-2);
  border: none;
  border-radius: 40px;
  margin-left: 170% ;
  margin-top: 5%;
  width: 200px;
  height: 50px;
  justify-items: center;
  justify-content: center;
}

.form-group-button input:hover {
  background-color: var(--base-color-2);
  color: black ;
  border: 2px solid black;
  cursor: pointer;
}

.form-group-button input[type="button"]:active {
  background-color: black;
  color:var(--base-color-2) ;
  cursor: pointer;
}

.navbar {
  background-color: var(--base-color-2) !important; 
} 