body {
  --base-color: rgb(46, 49, 49);
  --base-color-2: #FFB319;
}

.navbrand {
  font-family: 'Black Ops One' , cursive;
  color: var(--base-color);
  font-size: xx-large;
  padding: 0;
}

.navbrand:hover {
  color: var(--base-color);
}

div.profile-nav > a {
  font-size: 35px;
  padding: 15%;
  margin-right: 5%;
}

nav {
  background-color: black;
}

nav.a {
  font-family: 'Black Ops One', cursive;
  font-size: 10000px;
}

ul.search {
  display: flexbox;
  flex-direction: row;
  width: 500px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

button.button {
  background-color:rgb(46, 49, 49);
  color: grey;
  margin-left: -55px;
  border: none;
}

input.input{
  flex: 1;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  background-color: rgb(46, 49, 49);
}

.dropdown-toggle::after {
  content: none;
}

.navbar {
    background-color: var(--base-color-2) !important;
    position: sticky; 
  }

.custom-toggler.navbar-toggler {
    border: 2px solid black;
  }

.custom-toggler.navbar-toggler span {
    color:black;
  }

li.nav-item {
  padding: 0;
}

li.nav-item span.material-icons {
    color: black;
    font-size: 20pt;
    margin-left: -5px;
    
  }

.account_menu a.dropdown-item img {
    width: 50px;
    margin-left: 0px;
    margin-right: 8px;
    
  }

li.nav-item :hover {
    border: 2px solid black;
    border-radius: 10px;
  }

li.nav-item span.material-icons:hover {
    color:black;
    font-size: 20pt;
    margin-left: -5px ;
  }

.account_menu a.dropdown-item {
    color: white;
  }

.account_menu a.dropdown-item:hover {
  color: white;
}
.bodyhtml {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-gPo_0cSk9Lrtl5x4itVpWj7LclMU_9xnww&usqp=CAU);
}

/*==================================================Nav=====================================================*/

/*==================================================Panel=====================================================*/

@media screen and (min-width: 1100px ) {
  .container {
    background-color: rgba(0, 0, 0, 0.3);
  }
  
  .perpanel {
    margin: 0.2%;
    margin-left: 2.2%;
    color: var(--base-color);
    background-color: var(--base-color-2);
    padding: 0.5% 1%;
    position: relative;
    border-radius: 25px;
  }
  .perpanel:hover {
    border: solid 5px white;
  }

  .box {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    width: 1540px;
    margin: 20px auto;
  }

  .item {
    width: 100%;
    height: 300px;
  }

  .item:nth-child(15n+1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 620px;
  }

  .item:nth-child(15n+2) {
    grid-column: span 2;
    height: 300px;
  }

  .item:nth-child(15n+5) {
    grid-row: span 2;
    height: 620px;
  }

  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1100px ) {
  .container {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 0;
    height: 60px;
  }
  
  .perpanel {
    margin: 0.2%;
    margin-left: 2.2%;
    color: var(--base-color);
    background-color: var(--base-color-2);
    padding: 0.5% 1%;
    position: relative;
    border-radius: 25px;
  }
  .perpanel:hover {
    border: solid 2px white;
  }
  
  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 940px;
    margin: 40px 0;
    padding: 10px;
  }

  .item {
    width: 100%;
    height: 300px;
  }

  .item:nth-child(15n+1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 620px;
  }

  .item:nth-child(15n+3) {
    grid-column: span 2;
    height: 300px;
  }

  .item:nth-child(15n+15) {
    grid-column: span 2;
    height: 300px;
  }

  .item:nth-child(15n+2) {
    grid-row: span 2;
    height: 620px;
  }

  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

