body {
    --base-color: rgb(46, 49, 49);
    --base-color-2: #5C7AEA;
    --base-color-3: #5C7AEA;
    --base-color-4: #010815;
    background-color: var(--base-color-4);
    height: 100vh;
  }
  
  .body::-webkit-scrollbar {
      display: none;
  }
  
  .loader {
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #020415;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader > img {
    width: 400px;
  }
  
  .loader.hidden {
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
  }
  
  @keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  .thumb {
    height: 100px;
    border: 1px solid black;
    margin: 10px;
  }
  
  div.profile-nav > a {
    font-size: 35px;
    padding: 15%;
    margin-right: 5%;
  }
  
  nav {
    background-color: black;
  }
  
  ul.search {
    flex-direction: row;
    width: 500px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  button.button {
    background-color:var(--base-color-4);
    color: white;
    margin-left: -50px;
    margin-top: 5px;
    border: none;
  }
  
  input.input{
    flex: 1;
    height: 40px;
    width: 400px;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 18px;
    padding-left: 20px;
    color: gray;
    background-color: var(--base-color-4);
  }
  
  div.online_friends {
    text-align: left;
    padding: 10px;
    font-size: 15px;
    border: 3px;
  }
  
  div.language_menu {
    background-color: rgb(46, 49, 49);
  }
  
  div.language_menu > a {
    color: white;
  }
  
  .navbar a.navbar-brand b {
    font-family: Black Ops One , cursive;
    font-size: xx-large; 
    padding: 0; color: var(--base-color-4);
  }
    
  .dropdown-toggle::after {
    content: none;
  }
  
  .navbar {
    background-color: var(--base-color-3) !important;
    position: sticky; 
  }
  
  .custom-toggler.navbar-toggler {
    border: 2px solid black;
  }
  
  .custom-toggler.navbar-toggler span {
    color:black;
  }
  
  li.nav-item {
  padding: 0;
  }
  
  li.nav-item span.material-icons {
    color: black;
    font-size: 20pt;
    margin-left: -5px;
    
  }
  
  .account_menu a.dropdown-item img {
    width: 50px;
    margin-left: 0px;
    margin-right: 8px;
    
  }
  
  li.nav-item span:hover {
    box-shadow: 2px 5px 5px black;
    border-radius: 10px;
  }
  
  li.nav-item span.material-icons:hover {
    color:black;
    font-size: 20pt;
    margin-left: -5px ;
  }
  
  .account_menu a.dropdown-item {
    color: white;
    padding: 10px, 0px;
  
  }
  
  .account_menu a.dropdown-item:hover {
  color: white;
  background-color: var(--base-color-2);
  border-radius: 0;
  padding: 10px, 0px;
  }

body {
background-color: black;
height: 940px;
}

.row {
border-radius: 10px;
background-color:black;
border: 2px solid var(--base-color-2);
height: 90%;
}

.garis {
border-right: 1px solid var(--base-color-2);
height:100%;
position: relative;
}

li > a {
color:white;
font-size: 20pt;
}

li > a:hover {
color: black;
background-color: var(--base-color-2);
font-size: 20pt;
}

.material-icons{
font-size: 20px;
color: white;
}

.form-group input {
    background-color: var(--base-color);
    border:1px solid var(--base-color-2);
}

.form-group textarea {
    background-color: var(--base-color);
    border:1px solid var(--base-color-2);
}

.form-group label.form-check-label {
    color: white;
}

.form-group label {
    color: white;
}

.form-group input:focus {
    background-color: var(--base-color);
    border:1px solid var(--base-color-2);
}

.form-group textarea:focus {
    background-color: var(--base-color);
    border:1px solid var(--base-color-2);
}

.profile-picture {
 text-align: center;
}

.profile-picture img {
    border-radius: 50%;
    height: 250px;
    margin-right: 2%;
  }
  
.profile-picture h3 {
  font-size: 16pt;
  color: white;
  }

.form-group::placeholder{
    color: gray;
    opacity: 1;
}

.form-group input {
    color: white;
}

.form-group textarea {
    color: white;
}

