body {
  --base-color: rgb(46, 49, 49);
  --base-color-2: #5C7AEA;
  --base-color-3: #5C7AEA;
  --base-color-4: #010815;
  background-color: var(--base-color-4);
  position: fixed;
  right: 0;
  left: 0;
}

.body::-webkit-scrollbar {
    display: none;
}

.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #020415;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img {
  width: 400px;
}

.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  100% {
      opacity: 0;
      visibility: hidden;
  }
}

.thumb {
  height: 100px;
  border: 1px solid black;
  margin: 10px;
}

div.profile-nav > a {
  font-size: 35px;
  padding: 15%;
  margin-right: 5%;
}

nav {
  background-color: black;
}

ul.search {
  flex-direction: row;
  width: 500px;
  height: 50px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding: 20px;
}

button.button {
  background-color:var(--base-color-4);
  color: white;
  margin-left: -50px;
  margin-top: 5px;
  border: none;
}

input.input{
  flex: 1;
  height: 40px;
  width: 400px;
  border: none;
  border-radius: 30px;
  outline: none;
  font-size: 18px;
  padding-left: 20px;
  color: gray;
  background-color: var(--base-color-4);
}

div.online_friends {
  text-align: left;
  padding: 10px;
  font-size: 15px;
  border: 3px;
}

div.language_menu {
  background-color: rgb(46, 49, 49);
}

div.language_menu > a {
  color: white;
}

.navbar a.navbar-brand b {
  font-family: Black Ops One , cursive;
  font-size: xx-large; 
  padding: 0; color: var(--base-color-4);
}
  
.dropdown-toggle::after {
  content: none;
}

.navbar {
  background-color: var(--base-color-3) !important;
  position: sticky; 
}

.custom-toggler.navbar-toggler {
  border: 2px solid black;
}

.custom-toggler.navbar-toggler span {
  color:black;
}

li.nav-item {
padding: 0;
}

li.nav-item span.material-icons {
  color: black;
  font-size: 20pt;
  margin-left: -5px;
  
}

.account_menu a.dropdown-item img {
  width: 50px;
  margin-left: 0px;
  margin-right: 8px;
  
}

li.nav-item span:hover {
  box-shadow: 2px 5px 5px black;
  border-radius: 10px;
}

li.nav-item span.material-icons:hover {
  color:black;
  font-size: 20pt;
  margin-left: -5px ;
}

.account_menu a.dropdown-item {
  color: white;
  padding: 10px, 0px;

}

.account_menu a.dropdown-item:hover {
color: white;
background-color: var(--base-color-2);
border-radius: 0;
padding: 10px, 0px;
}

/*==================================================Nav=====================================================*/

/*==================================================Panel=====================================================*/

@media screen and (min-width: 1100px ) {
  .container {
    background-color: rgba(0, 0, 0, 0.3);
    padding-bottom: 0;
  }
  
  .perpanel {
    margin: 0.2%;
    margin-left: 2.2%;
    margin-top: 1%;
    color: var(--base-color);
    background-color: var(--base-color-2);
    padding: 0.5% 1%;
    position: relative;
    border-radius: 25px;
    border: 2px solid transparent;
  }

  .active, .perpanel:hover {
    border: solid 2px var(--base-color-2);
    background-color: transparent;
    color: var(--base-color-2);
  }

  .box {
    padding-top: 0%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
    width: 1540px;
    margin: 20px auto;
    overflow-y: scroll;
    height: 100vh;
  }

  .box::-webkit-scrollbar {
    display: none;
  }

  .item {
    width: 100%;
    height: 300px;
  }

  .item:nth-child(15n+1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 620px;
  }

  .item:nth-child(15n+2) {
    grid-column: span 2;
    height: 300px;
  }

  .item:nth-child(15n+2):hover {
    filter: blur(3px);
    -webkit-filter: blur(3px);
    transition: 0.3s;
    border: 1px solid black;
    background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-gPo_0cSk9Lrtl5x4itVpWj7LclMU_9xnww&usqp=CAU");
  }

  .item:nth-child(15n+5) {
    grid-row: span 2;
    height: 620px;
  }

  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 1100px ) {
  .container {
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 0;
    height: 60px;
  }
  
  .perpanel {
    margin-bottom: 0;
    margin: 0.2%;
    margin-left: 2.2%;
    color: var(--base-color);
    background-color: var(--base-color-2);
    padding: 0.5% 1%;
    position: relative;
    border-radius: 25px;
    border: 2px solid transparent;
  }
  
  .active, .perpanel:hover {
    border: solid 2px var(--base-color-2);
    background-color: transparent;
    color: var(--base-color-2);
  }
  
  .box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    width: 940px;
    margin: 40px 0;
    padding: 10px;
    padding-top: 0;
  }

  .item {
    width: 100%;
    height: 300px;
  }

  .item:nth-child(15n+1) {
    grid-column: span 2;
    grid-row: span 2;
    height: 620px;
  }

  .item:nth-child(15n+3) {
    grid-column: span 2;
    height: 300px;
  }

  .item:nth-child(15n+15) {
    grid-column: span 2;
    height: 300px;
  }

  .item:nth-child(15n+2) {
    grid-row: span 2;
    height: 620px;
  }

  .item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;
  cursor: pointer;
  margin-left: 0;
}

.fab-icon-holder {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: var(--base-color-2);
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
}

.fab-icon-holder span.material-icons{
  margin-top: 10px;
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: black;
}

.fab-icon-holder:hover{
  opacity: 0.8;
}

.fab-icon-holder i {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 25px;
  color: black;
}

.fab {
  width: 60px;
  height: 60px;
  background: var(--base-color-2);
  padding: 0.5px;
}

.fab-options {
  list-style-type: none;
  margin: 0;
  position: absolute;
  bottom: 70px;
  right: 0;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0);
  transform-origin: 85% bottom;
}

.fab:hover + .fab-options, .fab-options:hover {
  opacity: 1;
  transform: scale(1);
}

.fab-options li {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
}

.fab-label {
  padding: 2px 5px;
  align-self: center;
  user-select: none;
  white-space: nowrap;
  border-radius: 3px;
  font-size: 16px;
  background: #666666;
  color: #ffffff;
  box-shadow: 0 6px 20px rgba(0,0,0,0.2);
  margin-right: 10px;
}

.fab-options li span.material-icons {
  margin-top: 5px;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.fab-options li a {
  color: black;
}

