<div class="feed">
      
    <div class="uploads">
      <form>
        <div class="uploads_input">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
          <input type="text" placeholder="What's happening?" />
          <button class="upload-button">Share</button>
          <span id="myBtn2" class="spanmodal2">
            Post
        </span>
                <div id="myModal2" class="modal2">
                    <div class="ui container">
                        <form action="/add" class="ui form" method="post">
                            <div class="ui field">
                                <label for="img">Image</label>
                                <input type="file" name="img" id="img" class="filepond filepond--item">
                            </div>
                            <div class="ui two fields" style="width: 100%;">
                                <div class="field">
                                    <label for="name">Movie Name</label>
                                    <input type="text" name="name" style="width: 95%; margin-bottom: 5%;"> 
                                </div>
                            </div>
                            <button class="ui fluid blue button" type="submit">Save</button>
                        </form>
                    </div>
                </div>
        </div>
    </form>
    </div>