<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons"rel="stylesheet">
    <link rel = "icon" href="https://i.ibb.co/7rWKwZS/1.jpg" type = "image/x-icon">
    <link rel="stylesheet" href="/Assets/css/messages.css">
    <title>Message Box ICY</title>
    <style>
        .profile-picture img {
          border-radius: 50%;
          height: 40px;
          margin-right: 2%;
        }

        @media screen and (min-width: 1100px) { /*besar*/
        .fab-container {
          display: none;
        }

        /* Modal Content */
        .modal-content {
          background-color: black;
          border: 2px solid blue;
          margin-left: 1% ;
          margin-top: 2%;
          margin-bottom: 2%;
          padding: 0px;
          width: 100vh;
          height: 70vh;
        }

        .modal {
          width: 100%;
          height: 100%;
          border: solid white;
        }

        .modal-dialog {
          width: 100%;
          height: 90%;
          border: solid aqua;
          margin-right: 15%;
          margin-left: 15%;
        }
        
        .modal-content .apalaj {
          overflow-y: scroll;
          height: 100%;
        }
        
        .modal-post {
          display: flex;
          width: 100%;
          height: 100%;
          border: solid blueviolet;
        }

        .post_modal {
          border: solid pink;
          width: 1000px;
        }
        
        .apalaj::-webkit-scrollbar {
          display: none;
        }
        
        .apalaj {
          -ms-overflow-style: none;
          scrollbar-width: none;
        }

        .thecomment {
        padding: 2%;
        }
        
        .comment_content {
        display: flex;
        align-items: center;
        padding-top: 2%;
        padding-left: 2%;
        padding-bottom: 0;
        }
        
        .comment_content img {
        width: 6%;
        margin-right: 2%;
        }
        
        .comment_content h3 a {
        font-size: 15pt;
        }
        
        .comment a {
        padding-left: 12%;
        margin-top: 0%;
        padding-bottom: 1%;
        font-size: 10pt;
        }

        } 
        
        .modal-body-following,{
          padding: 0 !important;
          height: 40vh;
          padding-top: 100px;
        }
        
        .follow_button .material-icons {
          padding: 15% 0 0 0;
        }
  
        .modal-body-following-content {
          padding-left: 6%; 
          padding-right: 6%; 
          display: grid; 
          grid-template-columns: 21% 62% 17%; 
          align-items: center;
          height: 10%;
        }
  
        .follow_button {
          background-color: white; 
          color: var(--base-color); 
          border: none;
          border-radius: 10px;
          width: 45px; 
          height: 37px;
          font-size: 20px;
          padding-left: 10%;
          margin-top: 8%;
        }
  
        .follow_button:hover {
          background-color: rgba(61, 65, 69, 0.7);
          color: white;
        }
  
        .acc_img {
          border-radius: 50%;
        }
  
        .name-username {
          padding-top: 7%;
        }
        
        .name-username a p {
          margin-bottom: 0; 
          padding-bottom: 0; 
        }
        
        .name-username p {
          color: gray;
        }
        
        .name-username a {
          color: white;
          font-weight: 600;
          font-size: 17px;
        }

        .post_body img {
          width: 400px;
          align-items: center;
          justify-content: center;
          border-radius: 4px;
          margin-bottom: 0;
        }

        .desc {
          margin-top: 20px;
          margin-bottom: 10px;
          font-size: 15px;
          color: white;
          word-break: break-all;
          max-width: 768px;
        }
  
    </style>
</head>
<body>
  <% post_inner.forEach((Post) => { %>
  <button class="Comment_button" id="comment_button" data-toggle="modal" data-target="#exampleModal"><img
    src="<%= Post.imagePath %>"
    alt=""
  /></button>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
            <div class="modal-post">
              <div class="post_modal" style="width: fit-content; margin-left: 0%; height: 97%;">
                <div class="the_post_content">
                  <div class="profile-picture">
                    <img
                      src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                      alt=""
                    />
                    <h3>
                      <a href="#">test_someone</a>
                    </h3>
                  </div>
          
                  <div class="post_body">
                    <img
                      src="https://images.unsplash.com/photo-1542751371-adc38448a05e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80"
                      alt=""
                    />
                    <div class="utility-icon">
                      <button class="like_button"><span class="material-icons">favorite_border</span></button>
                      <button class="like_button" id="comment_button"><span class="material-icons">maps_ugc_outline</span></button>
                      <button class="like_button"><span class="material-icons">send_round</span></button>
                    </div>
                    <div class="desc">
                      <p> 
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vel euismod velit. Aliquam non magna mi. Proin tortor tortor, tristique et orci quis, vestibulum varius elit. Vivamus scelerisque,
                      lacus efficitur ullamcorper ultricies, erat massa bibendum purus, a facilisis nulla erat ut justo. Aenean non imperdiet massa. Nulla scelerisque lorem sed molestie mattis. Fusce ornare, libero a 
                      tempus imperdiet, lacus nisl elementum quam, sit amet tincidunt nibh erat id dolor. Phasellus vitae vulputate dui, id imperdiet risus. Praesent condimentum vehicula elit, ut mollis tellus dictum 
                      sed. Mauris rhoncus suscipit lorem, at dignissim odio gravida at. Mauris sagittis, enim vitae tincidunt placerat, risus elit dictum ipsum, nec tincidunt justo velit eu neque.
                      </p>
                    </div>
                          </div>
                        </div>
                      </div>
                      <div class="apalaj" style="color: aliceblue;">
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>  
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>  
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>  
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>  
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>  
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>  
                        <div class="thecomment">
                          <div class="comment_content">
                            <img
                                src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
                                alt=""
                              />
                              <h3>
                                <a href="#">test_someone</a>
                              </h3>
                          </div>
                        </div>
                        <div class="comment">
                          <a>THIS IS COMMENT SAMPLE</a>
                        </div>     
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        <% }) %>
      
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>